.headerContainer {
  width: 100%;
  height: 60px;
  display: flex;
  flex: 1;
  background-color: black;
}

.headerContent {
  align-self: center;
  margin-left: 20px;
  color: white;
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

