/*.contentContainer {
  width: 1440px;
  height: 964px;
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 100px;
}*/

.gridButton {
  width: 335px;
  height: 60px;
  background-color: #EC174F;
  color: white;
  font-family: "PT Sans Caption";
  font-size: 18px;
  line-height: 23px;
  /*flex: 1;*/
  align-self: center;
  text-align: center;
  border: none;
}