.gridButton {
  width: 335px;
  height: 60px;
  background-color: #EC174F;
  color: white;
  font-family: "PT Sans Caption";
  font-size: 18px;
  line-height: 23px;
  flex: 1;
  align-self: center;
  text-align: center;
  border: none;
  padding-bottom: 10px;
  @media only screen and (max-width: 335px) {
    .gridButton {
      width: 200px
    }
  }
}