.container {
  width: 1440px;
  height: 1024px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  background: #E5E5E5;
}

.contentContainer {
  width: 1440px;
  height: 964px;
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 100px;
}